.boxContainer {
    width: 70%;
    height: 50vmin;
    margin: 0 auto;
}

.gearBox {
  height:100%;
  width: 100%;
  background-image: var(--viewbox-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--button-border-color);
  border-radius: 0.5em;
}
