.boxContainer {
    width: 70%;
    height: 50vmin;
    margin: 0 auto;
    padding-top: 4vmin;
}

.viewBox {
    height:130%;
    width: 100%;
    background-color: black;
    border: 3px solid white;
}

#recipePlayButton {
    font-size: 2em;
    position: absolute;
    top: 5%;
    right: 25%;
}