.boxContainer {
    width: 70%;
    height: 50em;
    margin: 0 auto;
}

.viewBox {
    height:100%;
    width: 100%;
    background-color: var(--box-color);
    border: 3px solid var(--button-border-color);
}
