#barName {
  width: 30%;
}

input[name=barName]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: none !important;
    border-bottom: solid 2px white !important;
    font-size: 1em;
    background-color: none;
    background: none !important;
    color: white;
    transition: 1000ms;
}

input[name=barName]:focus{
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: solid 2px #800000 !important;
}

.boxContainer {
  margin-top: 10px;
}

.add {
  width: 100%;
}

#BigButton {
    font-size: 2em;
    position: absolute;
    top: 6%;
    right: 12.5%;
}
