.counter {
  bottom: 0;
  right: 0;
  left: 0;
  position:absolute;
  text-align: center;
  margin: 0 auto;
}

.ingredients {
  background-color: #1c1c1c;
  border: 1px solid white;
  width: 10%;
  padding: 5px;
  float:left;
}

.ing {
  display: flex;
  flex-wrap:wrap;
}

.tools {
  background-color: #1c1c1c;
  border: 1px solid white;
  width: 10%;
  padding: 5px;
  float: right;
}
