.topContainer {
    display: relative;
}

.tabs {
    text-align: center;
    position: relative;
}

.tab {
    display:inline-block;
    margin: 0 5.5% 0 5.5%;
    color: white;
    border: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.title {
    display: inline-block;
    font-family: 'Righteous';
    color: #800000;
    text-shadow: .05em .05em #FFCF00;
}
