#root {
    /* height: 95vh;
    width: 95vw; */
}

body,
html {
    font-family: 'Roboto Mono', monospace;
    color: white !important;
    background-color: #444444;
}

.button {
    padding: 10px;
    margin: 3%;
    color: white;
    background-color: #800000;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}
