.container {
    text-align: center;
    /* min-width: 50vh; */
}

form {
    /* display: table; */
    vertical-align: middle;
    margin: auto;
}

input[name=email],
input[name=firstName],
input[name=lastName],
input[name=nickname],
input[name=passwordConfirm],
input[name=password] {
    width: 100%;
    /* padding: 12px 20px; */
    display: inline-block;
    border: none !important;
    border-bottom: solid 2px white !important;
    font-size: 1em;
    background-color: none;
    background: none !important;
    color: white;
    transition: 1000ms;
}

input[name=email]:focus,
input[name=firstName]:focus,
input[name=lastName]:focus,
input[name=nickname]:focus,
input[name=passwordConfirm]:focus,
input[name=password]:focus {
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: solid 2px #800000 !important;
}

.inputLabel {
    text-align: left;
}

.header{
    height: auto;
    width: 70%!important;
}

.footer {
    /* max-height: 1vh; */
    width: 55%;
}

.ant-input-prefix{
    line-height: 2.75em;
}

form{
    margin-top: 2em!important;
}
