.containerBox {
    width:90vw;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

body {
    overflow: hidden;
}

.ingredientsBox {
    width: 40em;
    height: 35em;
    background-color: var(--box-color); 
    border: 3px solid var(--box-border-color);
}

.actionBox {
    width: 10em;
    height: 10em;
    background-color: var(--box-color);
    border: 3px solid var(--box-border-color);
}

.addStepsButton {
    width: 90%;
}

.ing {
  display: flex;
  flex-wrap:wrap;
}
