/* Controls CSS for login, register, reset, forgot, & confirm */

/* Login */

#loginHeader {
    margin-top: 10%;
    height: auto;
    width: 70%!important;
}

#loginDrinks {
    width: 55%;
    position: absolute;
    bottom: 0;
}

/* Register */

.registerContainer {
    position: relative;
}

/* Confirm */

#smallIcon {
    width: 10%;
    height: 10%;
}