/* Controls CSS for login, register, reset, forgot, & confirm */

/* Shared */

.loginHeader {
    height: auto;
    width: 40%!important;
    margin-top: 5%;
    margin-bottom: 3%;
}

/* Login */

#loginDrinks {
    width: 70%;
    position: absolute;
    bottom: 0;
}
/* Forgot */

#forgotDesc{
    color: white !important;
}