/* Game Navbar */

.topContainer {
    display: relative;
}

.tabs {
    text-align: center;
    position: relative;
}

.tab {
    display:inline-block;
    margin: 0 5.5% 0 5.5%;
    color: white;
    border: 0;
    padding: 0;
    background-color: var(--tab-color);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

/* Normal Navbar */

.tabs {
    /* text-align: center; */
    position: relative;
    border: none;
}

.tab {
    display:inline-block;
    /* margin: 0 5.5% 0 5.5%; */
    /* padding: 3em; */
    color: var(--white);
    border: 0;
    min-width: 8em!important;
    background-color: var(--tab-color);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}

.tab:hover {
  /* background-color: var(--light-gray); */
}

.account {
  min-width: 8em!important;
  font-size: 1.5em;
  /* width:1.5em; */
}

.list {
  position: absolute;
  right: 0;
  display: block!important;
  background-color: var(--light-gray);
  /* min-width: 160px; */
  min-width: 20vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white!important;
  border-radius: 0.5em;
}

.icon {
  margin: 1em;
  padding:1em;
}

.option {
  margin: 1em;
  padding:1em;
  background-color: var(--dark-gray);
  color: white!important;
  border-radius: 0.5em;
}

