/* CSS for Navbars */

/* Navbar */

/* .menu .anticon {
    display: block;
} */

.menuBar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 8%;
    background-color: var(--light-gray);
    color: white!important;
    /* padding: 0.25em 1em; */
    padding: 0.5%;
    margin-bottom: 3%;
}

#barEquipment, #myBars, #account {
    width: 10%;
    height: 10%;
    margin-right: .5em;
}

#recipes {
    width: 8%;
    height: 8%;
    margin-right: .5em;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: var(--light-gray);
    color: white !important;
}

.logo {
    width: 10em;
    float: left;
}
.logo img {
    display: inline-block;
    padding: 1.5em 1.25em;
}

/* Right Menu */
.menuCon {
    width: calc(100% - 10em);
    float: left;
}
.menuCon .ant-menu-item {
    padding: 0 5px;
}
.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
    border-bottom: none;
}
.menuCon .leftMenu {
    float: left;
}
.menuCon .rightMenu {
    float: right;
}

/* Hamburger Btn */
.barsMenu {
    float: right;
    height: 2.3em;
    padding: 0 0.5em 0.5em;
    display: none;
    background: none;
    margin-top: 1em;
}
.barsBtn {
    display: block;
    width: 1.5em;
    height: 0.15em;
    background: #1890ff;
    position: relative;
}
.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 1.5em;
    height: 0.15em;
    position: absolute;
    top: -0.5em;
    left: 0;
    background: #1890ff;
}
.barsBtn:after {
    top: auto;
    bottom: -0.5em;
}

/* Side Menu */
.ant-drawer-body {
    padding: 0;
}

.ant-drawer-body,
.ant-drawer-content,
.ant-drawer-header,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    background-color: var(--light-gray);
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}

/* side Menu title */
.ant-drawer-title {
    color: white!important;
}

/* Page Size Listener */
@media(max-width: 47.9375em) {
    .barsMenu {
        display: inline-block;
    }
    .leftMenu,
    .rightMenu {
        display: none;
    }
    .logo img {
        margin-left: -1.25em;
    }
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 0.0625em 1.25em;
    }
    .logo a {
        padding: 0.625em 1.25em;
    }
}
