/* CSS for Public Pages */
@import url( 'https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* General Pages */

#equipmentPageTitle,
#recipePageTitle,
#barPageTitle,
#userPageTitle {
    font-size: 3em;
    margin-bottom: 1%;
}

/* User Pages */
.userPageBarContainer{
    height: 20rem;
    overflow-x: hidden;
    align-content: stretch;
    overflow-y: visible;
}

/* Bar Pages */

.barPageDescTitle{
    margin-top: 8%;
}

/* Gear Pages */


/* Recipe Pages */

