/* CSS for Public Pages */
@import url( 'https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* General Pages */

#recipePageTitle,
#barPageTitle,
#userPageTitle {
    font-size: 3em;
    margin-bottom: 1%;
}

/* User Pages */
.userPageBarContainer{
    height: 20rem;
    overflow-x: hidden;
    align-content: stretch;
    overflow-y: visible;
}

/* Bar Pages */

.barPageDescTitle{
    margin-top: 8%;
}

/* Gear Pages */

#equipmentPageTitle {
    font-size: 3em;
    margin: 0;
}

#equipmentPageSubTitle{
    font-size: 2.3em;
    margin-bottom: 3%;
}

/* Recipe Pages */

