@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
html {
  font-family: 'Roboto Mono', monospace;
  color: white !important;
  background-color: #444444;
  height: 100vh;
  width: 100vw;
}

.button {
  font-size: 1em;
  text-transform: uppercase;
  line-height: 50px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  /* padding: 10px; */
  margin: 2em 2em 2em;
  color: white;
  background-color: #444444;
  cursor: pointer;
}

.button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px, 2px, #1C1C1C;
}
