.boxContainer {
    width: 70%;
    height: 50em;
    margin: 0 auto;
}

.barBox {
  height:100%;
  width: 100%;
  background-image: var(--viewbox-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--crimson);
  border-radius: 0.5em;
}
