input[name=barName]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: none !important;
    border-bottom: solid 2px var(--input-border-bottom) !important;
    font-size: 1em;
    background-color: none;
    background: none !important;
    color: var(--input-text-color);
    transition: 1000ms;
}

input[name=barName]:focus{
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: solid 2px var(--input-border-bottom-focus) !important;
}

.boxContainer {
  margin-top: 10px;
}

.add {
  width: 100%;
}

#createButton {
  font-size: 2em;
}