input[name=barName]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: none !important;
    border-bottom: solid 2px var(--input-border-bottom) !important;
    font-size: 1em;
    background-color: none;
    background: none !important;
    color: var(--input-text-color);
    transition: 1000ms;
}

input[name=barName]:focus{
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: solid 2px var(--input-border-bottom-focus) !important;
}

.boxContainer {
  margin-top: 10px;
}

.card {
  background-image: var(--card-bg-image)!important;
  border: none!important;
  box-shadow: 0px 0px 1em black!important;
  height: 100%!important;
  /* width: 80%; */
  border-radius: 1em!important;
  margin-left: 6em;
  margin-right: 6em;
}

.add {
  width: 70%;
}

#createButton {
  font-size: 2em;
}
