body {
    text-align:center;
}

.header {
  margin: 0 auto;
}

form {
  max-width: 70%;
}
input[name=email] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: none !important;
    border-bottom: solid 2px white !important;
    font-size: 1em;
    background-color: none;
    background: none !important;
    color: white;
    transition: 1000ms;
}

input[name=email]:focus {
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: solid 2px #800000 !important;
}
