/* Game Page CSS  */
.counter {
    bottom: 0;
    right: 0;
    left: 0;
    position:absolute;
    text-align: center;
    margin: 0 auto;
  }
  
  .ingredients {
    background: var(--card-bg-image);
    color: var(--crimson);
    border: 1px solid var(--crimson);
    width: 10%;
    padding: 5px;
    float:left;
    border-radius: 0.5em;
  }
  
  .ing {
    display: flex;
    flex-wrap:wrap;
  }
  
  .tools {
    background: var(--card-bg-image);
    color: var(--crimson);
    border: 1px solid var(--crimson);
    width: 10%;
    padding: 5px;
    float: right;
    border-radius: 0.5em;
  }
  