/* Game Page CSS  */
/* Game Page */

.previewGameStepContainer{
  text-align: center;
  word-wrap: break-word;
}

.noBG div{
  background: none !important;
  box-shadow: none !important;
}

.dragArea{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  padding: 1em;
}

.gameAction{
  color: black;
}
  