/* CSS for Navbars */

/* Navbar */

.menuBar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 8%;
    background-color: var(--light-gray);
    color: white!important;
    /* padding: 0.25em 1em; */
    padding: 0.5%;
    margin-bottom: 1%;
    z-index: 1;
}

#barEquipment, #myBars, #account, #recipes {
    max-width: 10%;
    margin-right: .5em;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: var(--light-gray);
    color: white !important;
}

.logo {
    max-width: 15em;
    height: 100%;
    float: left;
}

.logo img {
    display: inline-block;
    padding: 0.5em 0.25em;
    max-width: 100%;
    height: 100%;
}

/* Right Menu */
.menuCon {
    width: calc(100% - 15em);
    float: right;
    height: 100%;
    align-items: center;
}

.menuCon .ant-menu-submenu-title {
    padding: 0px 20px;
    height: 100%;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 0px 15px;
}
.menuCon .ant-menu-horizontal {
    border-bottom: none;
}

.menuCon .ant-menu{
    float: right;
}

.menuCon .rightMenu{
    width: 100%;
}

.menuCon .ant-menu-item,
.menuCon .ant-menu-submenu{
    vertical-align: top;
}

/* Hamburger Btn */
.barsMenu{
    width: 100%;
    display: none;
}
.barsMenuBtn {
    float: right;
    height: 2.3em;
    padding: 0 0.5em 0.5em;
    background: none;
}
.barsBtn {
    display: block;
    width: 1.5em;
    height: 0.15em;
    background: #1890ff;
    position: relative;
}
.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 1.5em;
    height: 0.15em;
    position: absolute;
    top: -0.5em;
    left: 0;
    background: #1890ff;
}
.barsBtn:after {
    top: auto;
    bottom: -0.5em;
}

/* Side Menu */
.ant-drawer-body {
    padding: 0;
}

.ant-drawer-body,
.ant-drawer-content,
.ant-drawer-header,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    background-color: var(--light-gray);
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}

/* side Menu title */
.ant-drawer-title {
    color: white!important;
}

/* Page Size Listener */
@media(max-width: 61em) {
    .barsMenu {
        display: inline-block;
    }
    .leftMenu,
    .rightMenu {
        display: none;
    }
    .logo img {
        margin-left: -1.25em;
    }
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 0.0625em 1.25em;
    }
    .logo a {
        padding: 0.625em 1.25em;
    }
}
