/* CSS for Public Pages */
@import url( 'https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* General Pages */

#recipePageTitle,
#barPageTitle,
#userPageTitle {
    font-size: 3em;
    height: 4%;
    margin-bottom: 1%;
}

/* User Pages */
.userPageBarContainer{
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Bar Pages */

.publicPageDescTitle{
    margin-top: 8%;
}

.publicProfImg{
    margin-top: 1%;
    max-height: 25%;
    word-wrap: break-word;
}

.publicUserProfImg{
    margin-top: 2%;
    max-height: 30%;
    word-wrap: break-word;
}

.publicOwnerInfo{
    margin-top: 1%;
}

.leftUserPublicSide,
.rightUserPublicSide{
    height: 60%;
    overflow-y: auto;
}

.leftPublicSide,
.rightPublicSide{
    height: 65%;
    overflow-y: auto;
}

.publicTabs{
    height: 80%;
}

.publicTabs .ant-tabs-content,
.publicTabs .ant-tabs-content-animated,
.publicTabs .ant-tabs-right-content{
    height: 100% !important;
    overflow-y: auto !important;
}

/* Gear Pages */

#equipmentPageTitle {
    font-size: 3em;
    margin: 0;
}

#equipmentPageSubTitle{
    font-size: 2.3em;
    margin-bottom: 3%;
}

/* Recipe Pages */

