/* CSS for User Pages */

/* General */

#userBarsPageTitle,
#userRecipesPageTitle,
#userEquipmentPageTitle,
#createBarPageTitle,
#createRecipePageTitle,
#adminPageTitle {
    font-size: 3em;
    margin-bottom: 1%;
}

.ant-tabs{
  margin-bottom: 2%;
  color: white;
}

.tabsSeperator{
  background-color: white;
  height: 0.1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Admin Page */

/* Search */

#searchDrinks {
  width: 50%;
  position: absolute;
  bottom: 0;
}

#searchTitle{
  margin-top: 5%;
  font-size: 7em;
  margin-bottom: 10%;
}


/* Create Bar Page */

.tabsBarForm{
  margin-bottom: 2%;
}


/* Create Recipe Page */
.settingsButton{
  margin-top: 2%;
}

/* Users Bar Page */

#userBarsPageTitle{
    margin-bottom: 5%;
}

/* Users Recipes Page */

/* Error Page */
.errorCaption {
    color: white;
} 

/* Custom Equipment */
.customEquipmentSelect{
  padding-top: 0em;
}