<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <form class="form-signin" th:action="@{/register}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Register an Account</h1>
            <div th:if="${param.error}">
                Invalid email and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
                <label for="inputFirstName" class="text-label">First Name</label>
                <input type="text" name="firstName" id="inputFirstName" class="text-box" placeholder="FirstName" required="" />
                <label for="inputLastName" class="text-label"> Last Name</label>
                <input type="text" name="lastName" id="inputLastName" class="text-box" placeholder="LastName" required=""/>
                <label for="inputEmail" name="email" class="text-label"> Email </label>
                <input type="email" name="email" id="inputEmail" class="text-box" placeholder="Email" required="" />
                <label for="inputPassword" class="text-label">Password</label>
                <input type="password" name="password" id="inputPassword" class="text-box" placeholder="Password" required="" />
                <label for="inputPasswordConfirm" class="text-label">PasswordConfirm</label>
                <input type="password" name="passwordConfirm" id="inputPasswordConfirm" class="text-box" placeholder="Password" required="" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
        <form class="form-signin" th:action="@{/login}" method="get">
            <button class="btn btn-md btn-success btn-block" type="Submit">Sign In</button>
        </form>
    </div>
</body>
</html>