@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.entry {
    margin: auto auto;
    width: 15vw;
    height: 15vw;
    background-image: var(--card-bg-image);
    border: .2em solid var(--button-border-color);
    text-align: center;
    border-radius: 2em;
    color: var(--card-text-color);
}

.createButton {
    margin-top: 2em;
}

.tabButton {
    margin: 2em 2em 2em;
}