

.box {
    width: 80%;
    height: 60vh;
    background-color: #CCCCCC;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.tabs {
    text-align: center;
    margin: 1% 0;
}

.tab {
    display:inline-block;
    margin: 0 3% 0 3%;
    color: white;
    font-size: 3vmin;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.entry {
    position: relative;
    margin: 0 auto;
    top: 5%;
    width: 85%;
    height: 20%;
    border-radius: 1.5rem;
    background-color: white;
    border-color: black;
    border: .2em solid black;
}

.title {
    font-family: 'Righteous';
    text-align: center;
    font-size: 5vmin;
    color: #800000;
    text-shadow: .05em .05em #FFCF00;
}

.bar-progress {
    height: 100%;
    width: 45%;
    background-color: #FFCF00;
    border-radius: inherit;
    position: absolute;
}

.text-info {
    position: relative;
    font-size: 1.5rem;
    color: black;
}

.textRight {
    left: 80%;
    bottom: 105%;
}

.textLeft {
    left: 5%;
    bottom: 10%;
}

#progress {
    color: white;
}

#owner {
    float: bottom;1
    bottom: -5%;
}

#view {
    float: right;
}

#make {
    float: right;
}

.search {
    border-radius: 1.5em;
    height: 3vh;
    font-size: 2vh;
    position: relative;
    text-indent: 5%;
}

.addBar {
    background-color: maroon;
    color: white;
    text-align: center;
    border-radius: 1.5em;
    font-size: 2em;
    border-color: black;
    border: .1em solid black;
    position: absolute;
    width: 70vw;
    top: 90%;
    left: 3%;
}
