@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@font-face {
  font-family: fzshuti;
  src: url(../src/fonts/fzshuti.ttf);
}

/* Variables */

:root{
  --card-bg-image: url(../src/assets/card.jpg);
  --card-text-color: #40110A;
  --create-button-top-gradient: #444444;
  --create-button-bottom-gradient: #1c1c1c;
  --button-color: maroon;
  --button-text-color: white;
  --button-border-color: #40110A;
  --button-border-color-posthover: #00FFFF;
  --button-box-shadow-prehover: rgba(255, 255, 255, .5);
  --button-box-shadow-posthover: rgba(255, 255, 255, .2);
  --button-hover-shade: rgba(0, 0, 0, 0.5);
  --button-text-shadow-color: #00FFFF;
  --button-text-color-posthover: #FFFFFF;
  --button-text-top-gradient: #b80f0a;
  --button-text-bottom-gradient: #40110a;
  --background-color: 25, 7, 4;
  --top-bar-bg: #1c1c1c;
  --tab-color: transparent;
  --tab-color-hover: #444444;
  --tab-text-color: white;
  --input-text-color: white;
  --input-border-bottom: white;
  --input-border-bottom-focus: #800000;
  --link-color: #00FFFF;
  --link-hover-color: white;
  --link-hover-text-shadow-color: #00FFFF;
  --page-title-box-shadow: #00FFFF;
  --viewbox-image: url(../src/assets/metalPlate.jpg);
}

/* Repeating HTML Elements */

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: white !important;
  background:linear-gradient( rgba(var(--background-color), 0.5) 100%, rgba(var(--background-color), 0.5)100%),url("../src/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root,
html,
body {
  min-height: 100vh;
}


label {
    color: white;
    font-size: 1.5em;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-shadow: 0 0 0.5em var(--link-hover-text-shadow-color), 0 0 0.5em var(--link-hover-text-shadow-color);
}

.caption {
  font-family: fzshuti;
  text-shadow: 0 0 0.5em var(--page-title-box-shadow), 0 0 0.5em var(--page-title-box-shadow);
  font-size: 3em;
}

.button {
  font-size: 1em;
  text-transform: uppercase;
  border: var(--button-border-color) 0.1em solid;
  border-radius: 0.5em;
  text-shadow: none;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  color: var(--button-text-color);
  background: linear-gradient(var(--button-text-top-gradient), var(--button-text-bottom-gradient));
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.button:hover {
  border: var(--button-border-color-posthover) 0.1em solid;
  text-shadow: 1px 1px 5px var(--button-text-shadow-color);
  background-color: var(--button-hover-shade) !important;
}

/* Navbar */

.top-bar,
.top-bar ul {
    background-color: var(--top-bar-bg);
}
