.topContainer {
    display: relative;
}

.tabs {
    text-align: center;
    position: relative;
}

.tab {
    display:inline-block;
    margin: 0 5.5% 0 5.5%;
    color: white;
    border: 0;
    padding: 0;
    background-color: var(--tab-color);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
